/* dark mode */
:root {
  --main-bg-color: rgb(20,20,20);
}
* {
  color: rgb(200,200,200); /* little less contrast, but nicer for the eyes */
}
/* classes */
.pokemonList {
  padding-top: 30px; /* add distance to header */
  padding-left: 1rem; /* control overall indent */
}
.pokemon-list > li {
  padding: 5px 15px;
}
#loading-message {
  padding-left: 20px;
  background: none;
}
#loading-message_unspecific {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Bootstrap */
.custom-padding-top {
  padding-top: 80px; /* Adjust the value as needed */
}
.btn-fixed-min-width {
  min-width: 120px !important;
  --bs-text-opacity: 0.9 !important;
}
.btn-primary {
  opacity: 0.8 !important;
}
.modal-footer {
  background-color: var(--main-bg-color);
}